Segundo Semestre/EDGE/05.03/flows.json
[
    {
        "id": "d70ead23e4482b1d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ca40b011e68883b",
        "type": "serial in",
        "z": "d70ead23e4482b1d",
        "name": "",
        "serial": "b0fa72d499b9c084",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "e82a3df9b276cec5"
            ]
        ]
    },
    {
        "id": "e82a3df9b276cec5",
        "type": "json",
        "z": "d70ead23e4482b1d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "23b14a31b1642b5f",
                "a86c7d238a89e6ab",
                "228b73814697f272"
            ]
        ]
    },
    {
        "id": "23b14a31b1642b5f",
        "type": "switch",
        "z": "d70ead23e4482b1d",
        "name": "",
        "property": "payload.distance_cm",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "6923b1e8ea58bc35"
            ],
            [
                "c8f1d9aa5a7cfc98"
            ]
        ]
    },
    {
        "id": "0bbff6c2f10a57da",
        "type": "debug",
        "z": "d70ead23e4482b1d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "6923b1e8ea58bc35",
        "type": "function",
        "z": "d70ead23e4482b1d",
        "name": "function 1",
        "func": "msg.payload = \"Perigo\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "0bbff6c2f10a57da"
            ]
        ]
    },
    {
        "id": "c8f1d9aa5a7cfc98",
        "type": "function",
        "z": "d70ead23e4482b1d",
        "name": "function 2",
        "func": "msg.payload = \"Ok\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "0bbff6c2f10a57da"
            ]
        ]
    },
    {
        "id": "a86c7d238a89e6ab",
        "type": "debug",
        "z": "d70ead23e4482b1d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "ba823bee791e70a9",
        "type": "ui_gauge",
        "z": "d70ead23e4482b1d",
        "name": "",
        "group": "29f9ef3294ca8a91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "800",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "228b73814697f272",
        "type": "change",
        "z": "d70ead23e4482b1d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.distance_cm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "ba823bee791e70a9"
            ]
        ]
    },
    {
        "id": "b0fa72d499b9c084",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "29f9ef3294ca8a91",
        "type": "ui_group",
        "name": "Default",
        "tab": "15ef3f73d2e7def5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15ef3f73d2e7def5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]